.header{
    background-color: #DD1728;
    overflow: hidden;
    height: 4rem;
    padding: 3rem 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    width: 3.5rem;
}

.header nav{
    display: flex;
    gap: 4rem;
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
}
.header nav a{
    letter-spacing: 0.36rem;
}

.header button{
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem;
    color: #DD1728;
    font-weight: 600;
    font-size: 1.4rem;
    height: 4rem;
}

.barmenu{
    display: none;
}
@media screen and (max-width: 768px){
    .header{
        padding: 3rem 2rem;
    }

    .header nav{
        display: none;
    }    

    .header button{
        display: none;
    }

    .barmenu{
        display: block !important;
        background-color: transparent;
        height: 4rem;
        width: 5.5rem;        
    }

    .barmenu i{
        color: #FFF;
        font-size: 3.5rem;
    }
  }