.banner{
  background-color: #DD1728;
  min-height: 90vh;
  position: relative;
}

.banner_content{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 65vh;
}

.banner_content > div h2{
  font-size: 10rem;
  color: #FFF;
}

.banner_content > div h2:nth-child(2){
  -webkit-text-stroke: 2px #FFF;
  -webkit-text-fill-color: #DD1728;
}

.banner_content > div p{
  max-width: 520px;
  color: #DDD;
}

.banner_content button{
  padding: 1.5rem 4rem;
   margin-top: 2rem;
   border: none;
   border-radius: .5rem;
}

.banner_content img{
  width: 350px;
}

.banner_social{
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
  color: #FFF;
}