.banner{
  background-color: #DD1728;
  min-height: 92vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_content{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
  gap: 5rem;
  margin-top: -5rem;
}

.banner_content > div h2{
  font-size: 10rem;
  color: #FFF;
  line-height: 10rem;
}

.banner_content > div h2:nth-child(2){
  -webkit-text-stroke: 2px #FFF;
  -webkit-text-fill-color: #DD1728;
}

.banner_content > div p{
  max-width: 520px;
  color: #DDD;
}

.banner_content button{
  padding: 1.5rem 4rem;
   margin-top: 2rem;
   border: none;
   border-radius: .5rem;
}

.banner_content img{
  width: 350px;
}

.banner_social{
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
  color: #FFF;
}

.section_flex{
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
  background-color: #F2F6FF;
  gap: 8rem;

}

.section_flex >  article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}


.section_flex >  article > div{
  background-color: #FFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
  padding: 2rem;
  border-radius: .5rem;
  height: 28rem;
  width: 35rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  gap: 2rem;
}


.section_flex > article > div img{
  width: 4rem;
}

.section_flex >  article > div h3{
  font-size: 1.8rem;
}

.section_flex >  article >  div p{
  font-size: 1.4rem;
}

.section_time{
  display: flex;
  flex-direction: column;
}


.section_time h4{
  font-size: 4rem;
  max-width: 700px;
}

.section_time h4 span{
  color: #DD1728;
}

.section_time p{
  max-width:700px;
  font-size: 2rem;
  margin-top: -2rem;
}

.section_build{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DD1728;
  color: #FFF;
  padding: 4rem 0;
}

.section_build img{
  width: 300px;
}

.section_build article p{
  max-width: 500px;
}

.section_build article h2{
  font-size: 4rem;
}

.section_build article h2 span{
  color: #FFB037;
}


.section_build article p{
  margin-top: 2.5rem;
}

.section_trend{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 8rem 0;
  background-color: #F2F6FF;
}

.trend_list{
  display: flex;
  flex-direction: column;
}

.trend_list img{
  width: 30px;
}

.trend_list p{
  max-width: 500px;
  color: #666;
}

.trend_list > div  h2{
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.trend_list > div > div{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.categories{
  padding: 5rem 8rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.categories button{
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
}

.container{
  padding: 0 8rem;
}

.main_article{
  display: flex;
  gap: 4rem;
}

.main_article img{
  border-radius: .5rem;
  max-width: 900px;
}

.main_article h4{
  color: #666;
}

.main_article h2{
  font-size: 2.8rem;
  line-height: 3.5rem;
}

.main_article p{
  color: #666;
}

.post_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.post_list article{
  display: flex;
  flex-direction: column;
}

.team_section{
  padding: 4rem  8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team_section h2{
  font-size: 3.6rem;
  text-align: center;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.team_section p{
  text-align: center;
  max-width: 800px;
}

.team_list{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
  padding: 0 8rem;
  padding-bottom: 30rem;
}
@media screen and (max-width: 768px){
  .banner_content{
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
  }

  .banner_content > div h2{
    font-size: 6rem;
    line-height: 6rem;
  }

  .section_flex > article:first-child{
    flex-direction: column;
  }
  
  .section_build{
    flex-direction: column;
  }

  .section_build h2{
    text-align: center;
  }

  .section_build p{
    text-align: center;
    padding: 0 2rem;
  }

  .banner_social{
    bottom: 20px;
  }

  .section_time{
    padding: 0 2rem;
  }
  .section_trend{
    gap: 1rem;
    padding: 6rem 2rem;
    flex-direction: column;
  }

  .categories{
    width: 100%;
    overflow: scroll;
    padding: 2rem 1rem;
  }

  .container{
    padding: 0 2rem;
  }

  .container > .main_article{
    display: none;
  }
  .post_list{
    gap: 4rem;
  }

  .main_article{
    gap: 1.5rem;
  }
  
}